body {
    font-family: Arial, Helvetica, sans-serif;
    color: seashell;
    background-color: black;
    font-size: 22px;
    opacity: 0.9;
}

header {
    color: #fff;
    position: fixed;
    text-decoration: underline;
}

header .logo {
    float: left;
    margin: 0 20px;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: #fff;
}

h4 {
    color: #fff;
}

.tea-of-the-month {
    width: 100px;
    height: auto;
    margin: 10px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.logo {
    width: 150px;
    height: 50px;
    margin: 10px;
}

.tea-of-the-month {
    margin: 10px;
    flex: 0 0 300px;
    height: 100px;
}

.section-tea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
}

.locations {
    height: 500px;
    width: 1000px;
    justify-content: center;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: black;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    opacity: 1;

}