body {
    font-family: Arial, Helvetica, sans-serif;
    color: seashell;
    background-color: black;
    font-size: 22px;
    opacity: 0.9;
    justify-content: center;
}

header {
    background-color: black;
    color: #fff;
    position: fixed;
    top: 0;
    text-decoration: underline;
    width: 100%;
    z-index: 10;
}
nav {
    position: fixed;
    top: 0;
    right: 0;
}

nav ul li {
    display: inline;
    margin: 5px;
}

nav ul li a {
    color: #fff;
    text-decoration: underline;
}

main {
    background-image: url('img-locations-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


main {
    background-image: url('img-mission-background.jpg');
    align-items: center;
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 2;
    height: 700px;
  
    margin: 69px 20px 0 20px;
    
}

.background {
    position: relative;
    background-color: black;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.text {
    position: absolute;
    color: #fff;
    text-align: center;
    width: 100%;
    
}

.text h2 {
    color: #fff;
    text-align: center;
    opacity: 1;
}

.text h4 {
    color: #fff;
    opacity: 1;
}



footer {
    background: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.logo {
    width: 150px;
    height: 50px;
    margin: 10px;
}


.section-tea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 1000px;
    min-height: 500px;
    justify-self: center;
    margin: 20px 0;

}

.locations  {
    margin: 0 20px;
    display: flex;
    justify-content: center;
    height: 500px;
    background-image: url('img-locations-background.jpg');
}

.locations article {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-self: center;
    opacity: 1;
    margin: 20px;
    width: 300px;
    background-color: black;
    justify-content: center;
    flex-direction: column;
}

.center-Horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
#locations {
    display: flex;
    justify-self: center;
    align-self: flex-start;
    text-align: center;
    color: #fff;
    position: absolute;
}

h2, h4 {
    text-align: center;
    color: #fff;
}

.imag-tea {
    max-width: 300px;
    max-height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    text-align: center;
}

.imag-tea img {
    width: 300px;
    height: 200px;
}